{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="col-sm-6 col-sm-offset-3">
<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">{% trans "Sign Up" %}</div>
  </div>
    <br/>
{% load socialaccount %}
{% providers_media_js %}
<a href="{% provider_login_url 'facebook' method='js_sdk' %}" class="btn btn-info">Facebook Connect</a>
<a href="{% provider_login_url 'google' method='js_sdk' %}" class="btn btn-info">Google Connect</a>
<a href="{% provider_login_url 'linkedin' method='js_sdk' %}" class="btn btn-info">Linkedin Connect</a>
<p>{% blocktrans %}Already have an account? Then please <br/> <a href="{{ login_url }}" class="btn btn-info">Sign in</a>{% endblocktrans %}</p>
</div>
</div>
</div>
{% endblock %}