{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
          <br/>
        <h1>Welcome to ATL!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-info btn-lg" href="{% url 'about_us' %}" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
{% endblock %}